<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <button type="button" class="btn btn-light" routerLink="/camp/add">add camp</button>
    <button type="button" class="btn btn-light" routerLink="/hunt/add">add hunt</button>
    <button type="button" class="btn btn-light" (click)="changeOpacity()">Change Opacity</button>
    <button type="button" class="btn btn-light" (click)="changeRadius()">Change Radius</button>
    <button type="button" class="btn btn-light" (click)="toggleHeatmap()">Toggle Heatmap</button>
    <button type="button" class="btn btn-light" (click)="toggleMarkers()">Toggle Markers</button>
    <button type="button" class="btn btn-light" (click)="setMarker()">add marker</button>
  </div>
</div>

<div class="container">
  <div class="form-group">
    <label class="control-label">Location:</label>
    <input type="text" class="form-control" id="us3-address"/>
  </div>

  <div class="form-group row">
    <div class="col-sm-6">
      <label class="control-label">Lat.:</label>
      <input type="text" class="form-control" [(ngModel)]="rl_lat"/>
    </div>
    <div class="col-sm-6">
      <label>Long.:</label>
      <input type="text" class="form-control" [(ngModel)]="rl_lng"/>
    </div>
  </div>

  <!-- map -->
  <div style="height: 10px;"></div>

</div>
<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="true"
  (mapReady)="onMapLoad($event)"
>
</agm-map>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Category</th>
    <th scope="col">Rate</th>
    <th scope="col">Latitude</th>
    <th scope="col">Longitude</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let spot of campList">
    <td>{{spot.name}}</td>
    <td>{{spot.address}}</td>
    <td>{{spot.category}}</td>
    <td>{{spot.rate}}</td>
    <td>{{spot.position.lat}}</td>
    <td>{{spot.position.lng}}</td>
  </tr>
  </tbody>
</table>
