
<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="section-title">
          <h2>Edit Spot {{huntSpot.name}}</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <form action="/" class="mb-4 mb-lg-0">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" [(ngModel)]="huntSpot.name"  placeholder="Spot Name" />
            </div>
            <div class="col-md-6 form-group">
              <input type="text" class="form-control" name="hunt_type" id="hunt_type" [(ngModel)]="huntSpot.hunt_type"  placeholder="Camp spot category" />
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="address" [(ngModel)]="huntSpot.address"  id="address" placeholder="Address" />
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="animal_name" name="animal_name" [(ngModel)]="huntSpot.animal_name" required/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Latitude" [(ngModel)]="camp_lat" name="camp_latitude" disabled/>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Longitude" [(ngModel)]="camp_lng" name="camp_longitude" disabled/>
          </div>
          <button (click)="update()" type="button" class="btn btn-light">Update</button>
          <button (click)="delete()" type="button" class="btn btn-light">Delete</button>
        </form>
      </div>

      <div class="col-lg-5">
        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]="false"
          (mapReady)="mapClicked($event)">
          <agm-marker>
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</section>
