<body>

<!--navigation-->
<app-navbar></app-navbar>

<!--hero header-->
<app-header></app-header>

<!-- features section -->
<app-features></app-features>

<!--pricing section-->
<app-pricing></app-pricing>

<!--faq section-->
<app-faq></app-faq>

<!--news section-->
<app-news></app-news>

<!--footer-->
<app-footer></app-footer>

<!--scroll to top-->
<div class="scroll-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<!-- theme switcher (FOR DEMO ONLY - REMOVE FROM PRODUCTION)-->
<div class="switcher-wrap">
  <div class="switcher-trigger">
    <span class="fa fa-gear"></span>
  </div>
  <div class="color-switcher">
    <h6>Color Switcher</h6>
    <ul class="mt-3 clearfix">
      <li class="bg-teal active" data-color="default" title="Default Teal"></li>
      <li class="bg-purple" data-color="purple" title="Purple"></li>
      <li class="bg-blue" data-color="blue" title="Blue"></li>
      <li class="bg-red" data-color="red" title="Red"></li>
      <li class="bg-green" data-color="green" title="Green"></li>
      <li class="bg-indigo" data-color="indigo" title="Indigo"></li>
      <li class="bg-orange" data-color="orange" title="Orange"></li>
      <li class="bg-cyan" data-color="cyan" title="Cyan"></li>
      <li class="bg-yellow" data-color="yellow" title="Yellow"></li>
      <li class="bg-pink" data-color="pink" title="Pink"></li>
    </ul>
    <p>These are just demo colors. You can <b>easily</b> create your own color scheme.</p>
  </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.7.3/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
