<form><div>
<form class="d-flex" role="search">

  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>

</form>
</div>
<br>
<div class="buttonAdd">
<button type="button" class="btn btn-light">Creer un blog</button>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
</form>

<div class="container-fluid g-0 p-2">

  

<!--<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">title</th>
    <th scope="col">description</th>
    <th scope="col">img</th>
    <th scope="col">text</th>
    <th scope="col">category</th>
    <th scope="col">auth</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let blog of blogList">
    <td>{{blog.title}}</td>
    <td>{{blog.description}}</td>
    <td>{{blog.img}}</td>
    <td>{{blog.text}}</td>
    <td>{{blog.category}}</td>
    <td>{{blog.auth}}</td>
    <td>
      <button (click)="update(blog._id)">delete</button>
    </td>
    <td>
      <button (click)="delete(blog._id)">delete</button>
    </td>
  </tr>
  </tbody>
</table> -->

