<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
  <div class="container">
    <div class="row vh-md-100">

      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
        <button class="btn btn-success btn-login d-inline-flex flex-row align-items-center"
                routerLink="/user/sign_in">
          Get started now
          <em class="ml-2" data-feather="arrow-right"></em>
        </button>
      </div>
      <!--Themes Navigation-->
      <nav class="navbar navbar-expand navbar-dark justify-content-center ">
        <div class="nav justify-content-center">
          <div class="container px-4 px-lg-5">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
              class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul>
                <a class="img-hover-zoom"><img width="30" height="50" alt="" class="d-inline-block align-middle mr-2"
                                               data-toggle="tooltip" data-placement="top"
                                               title="Chasse dans les forets"
                                               src="../../../../../assets/img/forest-Icon-W.png"/></a>
                <a class="img-hover-zoom" href="#"><img width="30" height="50" alt=""
                                                        class="d-inline-block align-middle mr-2"
                                                        data-toggle="tooltip" data-placement="top" title="pêche"
                                                        src="../../../../../assets/img/sea-icon-W.png"/> </a>
                <a class="img-hover-zoom"><img width="30" height="50" alt="" class="d-inline-block align-middle mr-2"
                                               data-toggle="tooltip" data-placement="top"
                                               title="Chasse dans les deserts"
                                               src="../../../../../assets/img/desert-Icon-W.png"/></a>
                <a class="img-hover-zoom"><img width="30" height="50" alt="" class="d-inline-block align-middle mr-2"
                                               data-toggle="tooltip" data-placement="top" title="Chasse des oiseaux"
                                               src="../../../../../assets/img/sky-Icon-W.png"/></a>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</section>


<!--news section-->
<section class="py-7 bg-dark product-news top-left bottom-left" id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <h2 class="heading-black">News from HuntKingdom.</h2>
        <p class="text-muted lead">What's new at HuntKingdom.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <a href="#">
            <img class="card-img-top img-raised" src="assets/img/412963.jpg" alt="Blog 1">
          </a>
          <div class="card-body">
            <a href="#" class="card-title mb-2"><h5>We launch new iOS & Android mobile apps</h5></a>
            <p class="text-muted small-xl mb-2">Sep 27, 2018</p>
            <p class="card-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imper,
              consectetur adipiscing elit. <a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#">
            <img class="card-img-top img-raised" src="assets/img/190514.jpg" alt="Blog 2">
          </a>
          <div class="card-body">
            <a href="#" class="card-title mb-2"><h5>New update is available for the editor</h5></a>
            <p class="text-muted small-xl mb-2">August 16, 2018</p>
            <p class="card-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imper,
              consectetur adipiscing elit. <a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a href="#">
            <img class="card-img-top img-raised" src="assets/img/286966.jpg" alt="Blog 3">
          </a>
          <div class="card-body">
            <a href="#" class="card-title mb-2"><h5>The story of building #1 page builder</h5></a>
            <p class="text-muted small-xl mb-2">December 2nd, 2017</p>
            <p class="card-text">Nam liber tempor cum soluta nobis eleifend option congue nihil imper,
              consectetur adipiscing elit. <a href="#">Learn more</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-6">
      <div class="col-md-6 mx-auto text-center">
        <a href="#" class="btn btn-primary" routerLink="/user/blogs">View all posts</a>
      </div>
    </div>
  </div>
  <div class="mt-5">
  <br> <br> <br>
  </div>
  <!--footer-->
  <footer class="py-6 bg-transparent">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 mr-auto">
          <h5>About Knight</h5>
          <p class="text-muted">Magnis modipsae que voloratati andigen daepeditem quiate conecus aut labore.
            Laceaque quiae sitiorem rest non restibusaes maio es dem tumquam explabo.</p>
          <ul class="list-inline social social-sm">
            <li class="list-inline-item">
              <a href=""><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-google-plus"></i></a>
            </li>
            <li class="list-inline-item">
              <a href=""><i class="fa fa-dribbble"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Legal</h5>
          <ul class="list-unstyled">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Refund policy</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Partner</h5>
          <ul class="list-unstyled">
            <li><a href="#">Refer a friend</a></li>
            <li><a href="#">Affiliates</a></li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h5>Help</h5>
          <ul class="list-unstyled">
            <li><a href="#">Support</a></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-12 text-muted text-center small-xl">
          &copy; 2022 NeN - All Rights Reserved
        </div>
      </div>
    </div>
  </footer>
</section>



