
<!--hero header-->
<section class="py-7 py-md-0 bg-hero" id="home">
  <div class="container">
    <div class="row vh-md-100">

      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
        <!--        <h1 class="heading-black text-capitalize">Quickly build landing pages with Knight</h1>-->
        <!--        <p class="lead py-3">Knight is a platform that helps freelancers and companies build beautiful landing-->
        <!--          pages in minutes. Sign up for free.</p>-->
        <button class="btn btn-primary d-inline-flex flex-row align-items-center" routerLink="/sign_in">
          Get started now
          <em class="ml-2" data-feather="arrow-right"></em>
        </button>
      </div>
    </div>
  </div>
</section>
