<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <button type="button" class="btn btn-light" routerLink="/blogs">Return to map</button>
  </div>
</div>

<form>
  <input type="text" placeholder="title" name="title"
         [(ngModel)]="blog.title" required minlength="3">
  <br>
  <input type="text" placeholder="description" name="description"
         [(ngModel)]="blog.description" required>
  <br>
  <input type="text" placeholder="img" name="img"
         [(ngModel)]="blog.img" required>
  <br>
  <input type="text" placeholder="text" name="text" [(ngModel)]="blog.text">
  <br>
  <input type="text" placeholder="category" [(ngModel)]="blog.category" name="category"/>
  <br>
  <input type="text" placeholder="auth" [(ngModel)]="blog.auth" name="auth"/>
  <br>
  <button (click)="save()">save</button>

</form>
