<section class="py-7 py-md-0 bg-hero" id="home">
  <div class="container">
    <div class="row vh-md-100">
      <div class="col-md-8 col-sm-10 col-12 mx-auto my-auto text-center">
        <h1 class="heading-black text-capitalize">Start your adventure now</h1>
        <p class="lead py-3">HuntKingdom is a platform built for the beginners and the pros, search what you need here and start your journey </p>
        <button class="btn btn-primary d-inline-flex flex-row align-items-center">
          Get started now
          <em class="ml-2" data-feather="arrow-right"></em>
        </button>
      </div>
    </div>
  </div>
</section>
