<!--modules navigation-->
<section class="smart-scroll" >
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark">
      <a href="#" class="navbar-brand active logo" >
        <!-- Logo Image-->
        <img src="assets/img/Logo_blanc.png " width="60" class="d-inline-block align-middle mr-2 ">
      </a>
      <a class="navbar-brand heading-black" routerLink="/" href="#">
        HuntKingdom
      </a>
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span data-feather="grid"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#blogs" routerLink="/blogs">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#events" routerLink="/events">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#maps" routerLink="/maps">Maps</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#shop" routerLink="/products">Shop</a>
          </li>
          <li class="nav-item  nav-link page-scroll   text-gray-400 hover:text-gray-700">
            <a role="button" class="relative flex" (click)="toggle()">
              <svg class="flex-1 w-8 h-8 fill-current" viewbox="0 0 24 0">
                <path
                  d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z"/>
              </svg>


            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</section>
<section class="">
  <div class="relative z-10 " aria-labelledby="slide-over-title" role="dialog" aria-modal="true" *ngIf="visible"
       [@slideInOut]>
    <!--
      Background backdrop, show/hide based on slide-over state.

      Entering: "ease-in-out duration-500"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "ease-in-out duration-500"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 overflow-hidden mt-9">
      <div class="absolute inset-0 overflow-hidden">
        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10">
          <!--
            Slide-over panel, show/hide based on slide-over state.

            Entering: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-full"
              To: "translate-x-0"
            Leaving: "transform transition ease-in-out duration-500 sm:duration-700"
              From: "translate-x-0"
              To: "translate-x-full"
          -->
          <div class="side-shop pointer-events-auto w-screen max-w-md">
            <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
              <div class="flex-1 overflow-y-auto py-6 px-4 sm:px-6">
                <div class="flex items-start justify-between mt-3 ">
                  <h2 class="text-lg font-medium text-gray-900 mt-3 " id="slide-over-title">Shopping cart</h2>

                </div>

                <div class="mt-8">
                  <div class="flow-root">
                    <ul role="list" class="-my-6 divide-y divide-gray-200">
                      <li class="flex py-6"*ngFor="let product of products">
                        <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200">
                          <img
                            src="http://localhost:3000/events/getImage/{{product.img}}"
                            alt="Salmon orange fabric pouch with match zipper, gray zipper pull, and adjustable hip belt."
                            class="h-full w-full object-cover object-center">
                        </div>

                        <div class="ml-4 flex flex-1 flex-col">
                          <div >
                            <div class="flex justify-between text-base font-medium text-gray-900">
                              <h3>
                                <a class="text-black"> {{product.name}} </a>
                              </h3>
                              <p class="ml-4">{{product.price}} $</p>
                            </div>
                            <p class="mt-1 text-sm text-gray-500">Great quality</p>
                          </div>
                          <div class="flex flex-1 items-end justify-between text-sm">
                            <p class="text-gray-500">Qty 1</p>

                            <div class="flex">
                              <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500">
                                Remove
                              </button>
                            </div>
                          </div>
                        </div>
                      </li>

                      <!-- More products... -->
                    </ul>
                  </div>
                </div>
              </div>

              <div class="border-t border-gray-200 py-6 px-4 sm:px-6">
                <div class="flex justify-between text-base font-medium text-gray-900">
                  <p>Total</p>
                  <p>{{amount}} $</p>
                </div>
                <p class="mt-0.5 text-sm text-gray-500">Shipping and taxes calculated at checkout.</p>
                <div class="mt-6">
                  <a href="#"
                     class="flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700" (click)="toggle()" routerLink="/products/payment">Checkout</a>
                </div>
                <div class="mt-6 flex justify-center text-center text-sm text-gray-500">
                  <p>
                    or
                    <button type="button" class="font-medium text-indigo-600 hover:text-indigo-500 "
                            (click)="toggle()" >Continue Shopping<span aria-hidden="true"> &rarr;</span></button>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!--scroll to top-->
<div class="scroll-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>

<div>
  <router-outlet></router-outlet>
</div>
